/UnityHoudiniTerrain/*
!.gitignore


# Unity3D related
!/UnityHoudiniTerrain/Assets
/UnityHoudiniTerrain/Assets/AssetStoreTools/
!/UnityHoudiniTerrain/Packages
!/UnityHoudiniTerrain/ProjectSettings
*.unitypackage


# Mac-OSX related
.DS_Store
*.zip